<div style="background-color:Gray;margin-top: -20px;">
<div class="container bgcolor">
    <hr>
    <div class="row">
      <div class="col-sm-6 det" >
          <h1 class="text-center"><u> Hassan</u></h1>
          <p>Ali is the Co-Owner and Founder of AZ fitness Club and has been personal training for over 10 years. Growing up in rural Area, being physically active came naturally. His love for the outdoors, sports, competition and later exposure to Wing Chun Kung Fu placed him firmly on his path to learning and training. Now as a dedicated husband, father, surfer, and lifter of heavy things, he continually pursues strength and excellence through his passion. Ali enjoys guiding students from all walks of life to become healthier, stronger and anti-fragile.</p>
      </div>
      <div class="col-sm-6 det">
       <h1 class="text-center"><u>Bila Shah</u></h1>
       <p>Bilal is the Co-Owner of AZ Fitness Club. He attended Charleston Southern University as member of the track and field team. He finished with multiple school records and Big South all-conference awards in the Pole Vault. He holds a B.S. in Kinesiology from CSU and Masters in Health Exercise and Sport Science from The Citadel. He currently holds certification of a CHEK Practitioner Level I, CHEK Golf Biomechanics, and ACSM-HFS.</p>
      </div>
    </div>
  </div>
  <div class="container">
      <div class="jumbotron bg">
    <h1 class="text-center">TESTIMONIALS</h1>
        <h2 class="text-center">I instantly knew that AZ fitness Club was not an ordinary gym! It was simple and uncluttered. Not a treadmill in sight! The environment is laid-back and welcoming. With their one-on-one support and endless knowledge, I quickly surpassed all my original goals. </h2>
      </div>
    
        <div class="panel-heading"></div>
        <div class="panel-body">
          <h3 class="text-center">||  CONTACT INFO  ||</h3>
          <h4 class="text-center">
    
              AZ Fitness Club is located at North Karachi Powerhouse Chowrangi.
              
              Address: Plot ST-140 near Powerhouse Chowrangi
              
              Phone: (021)1234567
              
              Email: azfitnessclub@gmail.com
              </h4>
        </div>
    </div>
</div>